* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
header {
  background-color: #0020f4;
  width: 100%;
  padding-top: 30px;
}
a {
  text-decoration: ne;
  list-style-ty;
  color: #ffffff;
}

.container {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
nav,
nav ul {
  display: inline-block;
}
nav li {
  display: inline-block;
  padding: 10px;
}
nav,
.skyhouse {
  vertical-align: middle;
}
.mini-contact {
  background-color: #ffffff;
  color: #171717;
  padding: 18px 36px;
  border-radius: 65px;
}
.header-photos {
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}
.header-photo1 {
  width: 500px;
  padding-right: 15px;
  margin-top: -60px;
  vertical-align: middle;
}
.header-photo2 {
  width: 700px;
  vertical-align: middle;
}
.bullets {
  padding-bottom: 100px;
  margin-top: -100px;
}
.bullet1,
.bullet2,
.bullet3 {
  background-color: #ffffff;
  padding: 5px 5px 5px 5px;
  display: inline-block;
  border-radius: 30px;
}
.bullet2,
.bullet3 {
  opacity: 0.5;
}

.section-our {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}
.section-our > p {
  width: 360px;
  display: inline-block;
  margin-right: 100px;
}
.section-our h1 {
  margin-bottom: 50px;
}

.section-rec3 {
  width: 500px;
  margin-top: -100px;
  vertical-align: middle;
}

.service {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 380px;
  padding-bottom: 300px;
}
.section-rec4 {
  width: 500px;
  margin-top: 100px;
}
.services,
.services p {
  width: 360px;
  display: inline-block;
  margin-left: 70px;
}
.services,
.services h1 {
  display: inline-block;
  vertical-align: top;
  margin-left: 70px;
  margin-top: -50px;
}

.projects {
  background-color: #0a22f4;
  width: 100%;
  height: 300px;
  margin-bottom: 450px;
}
.projects > h1 {
  color: #ffffff;
  margin-left: 100px;
  margin-bottom: 50px;
  padding-top: 50px;
}
.bullets-second {
  margin-top: -70px;
  margin-left: 1380px;
}
.project-first {
  position: relative;
  max-width: 400px;
  width: 100%;
  display: inline-block;
  margin-left: 100px;
}
.project-first > p {
  position: absolute;
  right: 25px;
  bottom: 30px;
  color: black;
  width: 350px;
  background-color: #ffffff;
  padding: 20px;
  opacity: 0.9;
  border-radius: 15px;
}
.project-first > img {
  width: 400px;
}
.project-second {
  position: relative;
  max-width: 400px;
  width: 100%;
  display: inline-block;
}
.project-second > img {
  width: 500px;
}
.project-second > p {
  position: absolute;
  left: 70px;
  bottom: 80px;
  color: black;
  width: 350px;
  background-color: #ffffff;
  padding: 20px;
  opacity: 0.9;
  border-radius: 15px;
}
.other-project {
  display: block;
  margin-left: 1200px;
  margin-top: 50px;
}
.partner {
  width: 430px;
  margin-bottom: 40px;
  margin-left: 80px;
  display: inline-block;
  vertical-align: top;
}
.partner h1 {
  margin-bottom: 40px;
}

.partner h1::first-letter {
  font-size: xx-large;
  color: blue;
}

.bullet-third {
  width: 40px;
  margin-left: 1300px;
}
.bullet-one,
.bullet-duo,
.bullet-tre {
  background-color: #0a22f4;
  padding: 5px 5px 5px 5px;
  display: inline-block;
  border-radius: 30px;
}
.bullet-duo,
.bullet-tre {
  opacity: 0.5;
}
.pictures {
  width: 800px;
  display: inline-block;
  margin-left: 200px;
  margin-top: 100px;
}
footer {
  background-color: #0020f4;
  margin-top: 200px;
}
.contact-info {
  width: 420px;
  margin-left: 180px;
  padding-top: 100px;
}
.contact-info h1,
.contact-info p {
  color: #ffffff;
  padding-bottom: 20px;
}
.contact-info iframe {
  border-radius: 15px;
}
.last-words {
  color: #ffffff;
}
.last-words {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  padding-bottom: 30px;
}
.last-div {
  display: inline-block;
}
