* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
header {
  background-color: #0020f4;
  width: 100%;
  padding-top: 30px;
}
a {
  text-decoration: none;
  list-style-type: none;
  color: #ffffff;
}
.container {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
nav,
nav ul {
  display: inline-block;
}
nav li {
  display: inline-block;
  padding: 10px;
}
nav,
.skyhouse {
  vertical-align: middle;
}
.mini-contact {
  background-color: #ffffff;
  color: #171717;
  padding: 18px 36px;
  border-radius: 65px;
}
.header-photos {
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}
.header-photo1 {
  width: 500px;
  padding-right: 15px;
  margin-top: -60px;
  vertical-align: middle;
}
.header-photo2 {
  width: 700px;
  vertical-align: middle;
}
.bullets {
  padding-bottom: 100px;
  margin-top: -100px;
}
.bullet1,
.bullet2,
.bullet3 {
  background-color: #ffffff;
  padding: 5px 5px 5px 5px;
  display: inline-block;
  border-radius: 30px;
}
.bullet2,
.bullet3 {
  opacity: 0.5;
}

.section-our {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}
.section-our > p {
  width: 360px;
  display: inline-block;
  margin-right: 100px;
}
.section-our h1 {
  margin-bottom: 50px;
}

.section-rec3 {
  width: 500px;
  margin-top: -100px;
  vertical-align: middle;
}

.service {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 380px;
}
.section-rec4 {
  width: 500px;
  margin-top: 100px;
}
.service p {
  width: 360px;
  display: inline-block;
  margin-left: -110px;
}
.service > h1 {
  display: inline-block;
  vertical-align: top;
  margin-left: 200px;
}

.projects {
  background-color: #0a22f4;
}
.project-first {
  position: relative;
  width: 400px;
}
.project-first > p {
  position: absolute;
  right: 0;
  bottom: 0;
  color: black;
  width: 350px;
}
